<Project ToolsVersion="14.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>

        <!-- NECESSARY FOR RUNTIME BUILDS -->
        <DiscoElysium>PATH TO DISCO ELYSIUM HERE</DiscoElysium>
        <Unity2020>PATH TO UNITY EDITOR BASE DIR (LIKELY ENDS WITH VERSION)</Unity2020>

    </PropertyGroup>
</Project>

